main {
  padding: 100px 200px;
}

.back-btn {
  font-size: 20px;
  border-radius: 5px;
  color: #F8F8F8;
  padding: 10px;
  transition: 0.1s linear all;
}

.edit-btn {
  font-size: 20px;
  border-radius: 5px;
  color: #F8F8F8;
  padding: 10px;
  transition: 0.1s linear all;
}

.edit-btn .fas {
  margin-left: 5px;
  transition: 0.1s linear all;
}

.edit-btn:hover {
  transform: scale(1.05, 1.05);
}

.back-btn .fas {
  transition: 0.1s linear all;
}

.back-btn:hover .fas {
  transform: translateX(-5px);
}

p {
  margin: 0px;
  padding: 1px 0px 15px 0px;
}

div.blog-container h1 {
  font-size: 3.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  transition: 0.1s linear all;
  border-radius: 12px;
}

img:hover {
  transform: scale(1.015, 1.015);
}

div.blog-container h2 {
  font-size: 1.91rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container .blog-date {
  padding: 0px 5px 30px 5px;
  margin-bottom: 30px;
}

code {
  background-color: var(--code-background);
  padding: 0px 8px;
  border-radius: 4px;
  font-family: var(--font-family-primary);
}

pre > code {
  padding: 20px !important;
  word-spacing: 4px;
}

blockquote {
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}

hr {
  border-color: var(--code-background);
  opacity: 0.3;
}

@media (max-width: 768px) {
  main {
    padding: 40px 20px;
  }
}

#top-scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  overflow: hidden;
  z-index: 99999;
}

#top-scrollbar-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background:linear-gradient(45deg, #8892b0, #4C6CD3);
}

.twitter-share-button {
  display: flex;
  padding: 10px 20px;
  border-radius: 7px;
  color: #F8F8F8;
  width: fit-content;
  background-color: #4C6CD3;
  margin: 0 20px;
  transition: 0.1s linear all;
}

.twitter-share-button img {
  margin-top: -7px;
}

.twitter-share-button:hover {
  transform: scale(1.05, 1.05);
}
