* {
  scroll-behavior: smooth;
}

main {
  padding: 100px 200px;
  color: #a9a9b3;
}

.back-btn {
  font-size: 20px;
  border-radius: 5px;
  color: #f8f8f8;
  padding: 10px;
  transition: 0.1s linear all;
}

.edit-btn {
  font-size: 20px;
  border-radius: 5px;
  color: #f8f8f8;
  padding: 10px;
  transition: 0.1s linear all;
}

.edit-btn .fas {
  margin-left: 5px;
  transition: 0.1s linear all;
}

.edit-btn:hover {
  transform: scale(1.05, 1.05);
}

.back-btn .fas {
  transition: 0.1s linear all;
}

.back-btn:hover .fas {
  transform: translateX(-5px);
}

p {
  margin: 0px;
  padding: 1px 0px 15px 0px;
}

div.blog-container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #a9a9b3;
}

img {
  transition: 0.1s linear all;
  border-radius: 12px;
}

img:hover {
  transform: scale(1.015, 1.015);
}

div.blog-container h2 {
  font-size: 1.91rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container .blog-date {
  padding: 0px 5px 30px 5px;
  margin-bottom: 30px;
}

code {
  background-color: var(--code-background);
  padding: 0px 8px;
  border-radius: 4px;
  font-family: var(--font-family-primary);
}

pre > code {
  padding: 20px !important;
  word-spacing: 4px;
}

blockquote {
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}

hr {
  border-color: var(--code-background);
  opacity: 0.3;
}

.title {
  font-size: 40px !important;
  animation: intro 0.5s linear;
}

@keyframes intro {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  main {
    padding: 40px 20px;
  }
}

#top-scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  overflow: hidden;
  z-index: 99999;
}

#top-scrollbar-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg, #8892b0, #4c6cd3);
}

.share-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #f8f8f8;
  width: 34px;
  height: 34px;
  background-color: #4c6cd3;
  margin: 0 10px;
  transition: 0.1s linear all;
  font-size: 20px;
}

.share-button:hover {
  transform: scale(1.1, 1.1);
}

.author {
  color: #a9a9b3;
  display: flex;
  font-size: 22px;
  align-items: center;
}

.icon {
  border-radius: 100px;
  width: 40px;
  margin-right: 10px;
}

.post-footer {
  padding-top: 20px;
  display: flex;
  color: #5d5d5f !important;
  align-items: center;
}

.included {
  padding-left: 5px;
}

.article-date {
  font-size: 14px;
  padding: 5px;
}

.fa-folder {
  padding-left: 0 !important;
  color: #5d5d5f;
  padding-right: 3px !important;
}

.stats {
  padding: 10px 0;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #5d5d5f;
}

.stats > .fas,
.far {
  padding-left: 15px;
  padding-right: 5px;
}

.fa-pencil-alt {
  padding-right: 5px;
}
