header {
	width: 100%;
	text-align: center;
	padding: 100px 0;
}
header > h1 {
	margin: 10px 0px;
	font-size: 50pt;
}

.article-date {
	font-size: 14px;
	padding: 5px;
}
.article-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.article-container > article {
	margin-bottom: 30px;
	text-align: left;
	width: 700px;
	border-radius: 12px;
	transition: 0.1s linear all;
	align-items: center;
}

.article-container > article > a {
	display: block;
}
.article-container > article h2 {
	margin: 9px 0px 0px 0px;
}
.article-container .article-description {
	margin: 20px 0px;
	color: var(--font-color-primary);
}

.article-description {
	color: #5d5d5f !important;
}

@media (max-width: 768px) {
	header {
		padding: 30px 20px 100px 20px;
	}
	.article-container {
		padding: 20px 20px 20px 20px;
	}
	.article-container > article > a {
		padding: 15px 20px;
		display: block;
	}
}

.icon {
	border-radius: 100px;
	width: 40px;
	margin-right: 10px;
}

.cover {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	width: 800px;
}

.blog-content {
	padding: 0 10px 20px 20px;
}

.post-footer {
	padding-top: 20px;
	display: flex;
	color: #5d5d5f !important;
	align-items: center;
}

.white {
	color: var(--font-color-primary);
}

.tags {
	display: flex;
	align-items: center;
	color: #a9a9b3;
}

.fa-tags {
	color: #a9a9b3;
	padding-right: 7px;
}

.author {
	color: #a9a9b3;
	display: flex;
	font-size: 22px;
	align-items: center;
}

.fa-folder {
	color: #5d5d5f;
	padding-right: 5px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dot-line {
	background: #5d5d5f;
	height: 3px;
	width: 700px;
}

.title {
	transition: 0.1s linear all;
	color: #a9a9b3;
}

.title:hover {
	transform: translateY(-2px);
}

.read {
	transition: 0.1s linear;
}

.read:hover {
	transform: scale(1.05, 1.05);
}

.random-article {
	padding-top: 50px;
}
